@charset "utf-8";
/* CSS Document */

body {
    padding-top: 110px;
	background-image:url(http://img.ibxk.com.br/bj/layout/bg.png);
  	background-repeat:repeat;
  	background-attachment:fixed;
}
.panel-login {
	border-color: #ccc;
	-webkit-box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.2);
}
.panel-login>.panel-heading {
	color: #00415d;
	background-color: #fff;
	border-color: #fff;
	text-align:center;
}
.panel-login>.panel-heading a{
	text-decoration: none;
	color: #666;
	font-weight: bold;
	font-size: 30px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
	font-family: 'Arvo';
}
.panel-login>.panel-heading a.active{
	color: #005490;
	font-size: 40px;
}
.panel-login>.panel-heading a.active b{
	font-size: 45px;
}
.panel-login>.panel-heading hr{
	margin-top: 5px;
	margin-bottom: 0px;
	clear: both;
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),#005490,rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(left,rgba(0,0,0,0),#005490,rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left,rgba(0,0,0,0),#005490,rgba(0,0,0,0));
	background-image: -o-linear-gradient(left,rgba(0,0,0,0),#005490,rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
	height: 45px;
	border: 1px solid #ddd;
	font-size: 16px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
	color: #4285F4;
	outline:none;
}

.panel-login input:focus {
	outline:none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: 0 0 2px #4285F4;
	border-color: #4285F4;
	color: #4285F4;
}
.btn-login {
	background-color: #fff;
	outline: none;
	color: #005490;
	font-size: 18px;
	height: auto;
	font-weight: bold;
	padding: 10px 0;
	text-transform: uppercase;
	border-color: #005490;
	font-family:"Arvo";
}
.btn-login:hover,
.btn-login:focus {
	outline: none;
	color: #fff;
	background-color: #005490;
	border-color: #005490;
}

button:visited {
  outline: none;
}

.row-centered {
    text-align:center;
}

.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}


.error-notice {
  margin: 5px 5px; /* Making sure to keep some distance from all side */
}

.oaerror {
  width: 100%; /* Configure it fit in your design  */
  margin: 0 auto; /* Centering Stuff */
  background-color: #FFFFFF; /* Default background */
  padding: 8px;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
  margin: 0 auto;
  font-family: 'Arvo', sans-serif;
  font-size: 16px;
}

.danger {
  border-left-color: #d9534f; /* Left side border color */
  background-color: rgba(217, 83, 79, 0.1); /* Same color as the left border with reduced alpha to 0.1 */
}

.danger strong {
  color:  #d9534f;
}

.warning {
  border-left-color: #f0ad4e;
  background-color: rgba(240, 173, 78, 0.1);
}

.warning strong {
  color: #f0ad4e;
}

.info {
  border-left-color: #5bc0de;
  background-color: rgba(91, 192, 222, 0.1);
}

.info strong {
  color: #5bc0de;
}

.success {
  border-left-color: #3C3;
  background-color: rgba(43, 84, 44, 0.1);
}

.success strong {
  color: #2b542c;
}
