@charset "utf-8";
/* CSS Document */

nav.navbar-findcond a.navbar-brand { font-size:24px; padding-left:50px; font-family:"Arvo";  }
nav.navbar-findcond a.navbar-brand b { font-size:32px;}
nav.navbar-findcond { background: #005490; border-color: #ccc; box-shadow: 0 0 3px 0 #ccc; }
nav.navbar-findcond a { color: #Fff; }
nav.navbar-findcond ul.navbar-nav a { color: #Fff; border-style: solid; border-width: 0 0 2px 0; border-color: #005490; }
nav.navbar-findcond ul.navbar-nav a:hover,
nav.navbar-findcond ul.navbar-nav a:visited,
nav.navbar-findcond ul.navbar-nav a:focus,
nav.navbar-findcond ul.navbar-nav a:active { background: #005490; }
nav.navbar-findcond ul.navbar-nav a:hover { border-color: #Fff; }
nav.navbar-findcond li.divider { background: #fff; }
nav.navbar-findcond button.navbar-toggle { background: #Fff; border-radius: 2px; }
nav.navbar-findcond button.navbar-toggle:hover { background: #999; }
nav.navbar-findcond button.navbar-toggle > span.icon-bar { background: #005490; }
nav.navbar-findcond ul.dropdown-menu { border: 0; background: #Fff; border-radius: 4px; margin: 4px 0; box-shadow: 0 0 10px 0 #ccc; }
nav.navbar-findcond ul.dropdown-menu > li > a { color: #005490; border: 0; }
nav.navbar-findcond ul.dropdown-menu > li > a:hover { background: #005490; color: #Fff; }
nav.navbar-findcond span.badge { background: #Fff; font-weight: normal; font-size: 11px; margin: 0 4px; color:#005490; }
nav.navbar-findcond span.badge.new { background: rgba(255, 0, 0, 0.8); color: #005490; }
nav.navbar-findcond span.badge.side { background: #005490; color: #fff; }
nav.navbar-findcond ul.dropdown-menu .divider{height:1px;margin:1px 0;overflow:hidden;background-color:#005490;color:#005490;}


.nav-tabs { border-bottom: 2px solid #DDD;  }
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { border-width: 0;  }
.nav-tabs > li > a { border: none; color: #666;  }
.nav-tabs > li.active > a, .nav-tabs > li > a:hover { border: none; color: #4285F4 !important; background: transparent; }
.nav-tabs > li > a::after { content: ""; background: #4285F4; height: 2px; position: absolute; width: 100%; left: 0px; bottom: -1px; transition: all 250ms ease 0s; transform: scale(0); }
.nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after { transform: scale(1); }
.tab-nav > li > a::after { background: #21527d none repeat scroll 0% 0%; color: #fff; }
.tab-pane { padding: 15px 0; }
.tab-content{padding:20px}

.card {background: #FFF none repeat scroll 0% 0%; box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3); margin-bottom: 30px; }


@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900|Oswald);

.status {
    font-family: 'Source Sans Pro', sans-serif;
}
.status .panel-title {
    font-family: 'Oswald', sans-serif;
    font-size: 60px;
    font-weight: bold;
    color: #fff;
    line-height: 30px;
    padding-top: 20px;
    letter-spacing: -0.8px;
}


